<html>
    <head>
        <title>About page</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Mahesh. It uses data from mapbox.com and Darksky.net!</p>
        
        </div>
        {{>footer}}
    </body>
</html>